@page {
    size: 930px 1253px;
    margin: 18px 0 0px;
    padding: 0;
    font-family: "Lato", sans-serif;
    @bottom-left {
        content: flow(footer-logo);
        margin-left: 50px;
        margin-bottom: 36px;
        text-align: left;
    }
    @bottom-center {
        content: flow(footer-main);
        margin-bottom: 36px;
    }
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
        margin-right: -200px;
        margin-bottom: 20px;
        font-family: PrinceFF, sans-serif;
        font-size: 15px;
        color: rgb(146, 146, 146);
    }
}


.pagebreak {
    page: page;
    page-break-inside: avoid;
    page-break-after: avoid;
}

/*! CSS Used from: Embedded */
.coverpage {padding-top: 380px;}
.client-information {padding-top: 60px;}
.pagebreak .MuiGrid-container{width:100%;display:flex;flex-wrap:wrap;box-sizing:border-box;}
.pagebreak .MuiGrid-item{margin:0;box-sizing:border-box;}
.pagebreak .pagebreak .MuiGrid-align-items-xs-center{align-items:center;}
.pagebreak .MuiGrid-justify-content-xs-center{justify-content:center;}
.pagebreak .MuiGrid-spacing-xs-2{width:calc(100% + 16px);margin:-8px;}
.pagebreak .MuiGrid-spacing-xs-3{width:calc(100% + 24px);margin:-12px;}
.pagebreak .MuiGrid-spacing-xs-3 > .MuiGrid-item{padding:12px;}
@media (min-width:960px){
    .pagebreak .MuiGrid-grid-md-3{flex-grow:0;max-width:25%;flex-basis:25%;}
}
/*! CSS Used from: Embedded */
.pagebreak .MuiPaper-root{color:rgba(0, 0, 0, 0.87);transition:box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;background-color:#fff;}
.pagebreak .MuiPaper-rounded{border-radius:4px;}
.pagebreak .MuiPaper-outlined{border:1px solid rgba(0, 0, 0, 0.12);}
.pagebreak .MuiPaper-elevation2{box-shadow:0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);}
/*! CSS Used from: Embedded */
.pagebreak .MuiTypography-root{margin:0;}
.pagebreak .MuiTypography-body2{font-size:0.875rem;font-family:proxima-nova;font-weight:400;line-height:1.43;}
.pagebreak .MuiTypography-body1{font-size:1rem;font-family:proxima-nova;font-weight:400;line-height:1.5;}
.pagebreak .MuiTypography-h3{font-size:3rem;font-family:proxima-nova;font-weight:400;line-height:1.167;}
.pagebreak .MuiTypography-h4{color:white;font-size:1rem;text-align:center;font-family:proxima-nova;font-weight:bold;line-height:1.235;}
.MuiTypography-h5{color:#76BC21;font-size:40px;font-family:proxima-nova;font-weight:bold;line-height:1.334;}
.pagebreak .MuiTypography-h6{font-size:1.25rem;font-family:proxima-nova;font-weight:500;line-height:1.6;}
.pagebreak .MuiTypography-alignCenter{text-align:center;}
.pagebreak .MuiTypography-colorTextSecondary{color:rgba(0, 0, 0, 0.54);}
.pagebreak .MuiTypography-displayBlock{display:block;}
/*! CSS Used from: Embedded */
.pagebreak .MuiCard-root{overflow:hidden;}
/*! CSS Used from: Embedded */
.pagebreak .MuiCardContent-root{padding:16px;}
.pagebreak .MuiCardContent-root:last-child{padding-bottom:24px;}
/*! CSS Used from: Embedded */
.pagebreak .MuiCardHeader-root{display:flex;padding:16px;align-items:center;}
.pagebreak .MuiCardHeader-content{flex:1 1 auto;}
/*! CSS Used from: Embedded */
.pagebreak .MuiTable-root{width:100%;display:table;border-spacing:0;border-collapse:collapse;}
/*! CSS Used from: Embedded */
.pagebreak .MuiTableBody-root{display:table-row-group;}
/*! CSS Used from: Embedded */
.pagebreak .MuiTableCell-root{display:table-cell;padding:16px;font-size:0.875rem;text-align:left;font-family:proxima-nova;font-weight:400;line-height:1.43;border-bottom:1px solid     rgba(224, 224, 224, 1);vertical-align:inherit;}
.pagebreak .MuiTableCell-head{color:rgba(0, 0, 0, 0.87);font-weight:500;line-height:1.5rem;}
.pagebreak .MuiTableCell-body{color:rgba(0, 0, 0, 0.87);}
.pagebreak .MuiTableCell-sizeSmall{padding:6px 24px 6px 16px;}
.pagebreak .MuiTableCell-sizeSmall:last-child{padding-right:16px;}
.pagebreak .MuiTableCell-alignCenter{text-align:center;}
/*! CSS Used from: Embedded */
.pagebreak .MuiTableHead-root{display:table-header-group;}
/*! CSS Used from: Embedded */
.pagebreak .MuiTableRow-root{color:inherit;display:table-row;outline:0;vertical-align:middle;}
/*! CSS Used from: Embedded */
.pagebreak .makeStyles-root-51{margin:0px;padding:0px;min-width:275px;}
.pagebreak .makeStyles-pos-54{font-size:15px;margin-bottom:12px;}
/*! CSS Used from: Embedded */
.pagebreak .makeStyles-root-55{width:400px;margin:0px;padding:0px;}
/*! CSS Used from: Embedded */
.pagebreak .makeStyles-root-59{width:400px;margin:0px;padding:0px;}
/*! CSS Used fontfaces */

.marketing.methodology{padding-top:40px; padding-left:70px; padding-right: 70px; padding-bottom:40px;font-size:18px;}
.marketing.methodology sup{font-size:10px;}
.marketing.methodology .reference{margin-top:3rem;font-size:12px;}
.marketing.methodology {font-family:proxima-nova;}

.marketing.methodology .tab {
    margin-left: 2rem;
  }
  
  .marketing.methodology .important {
    font-size: larger;
    font-weight: bold;
  }

@font-face{font-family:'proxima-nova';src:url(proxima-nova.otf)}